* {
  margin: 0;
  font-family: Poppins;
}

header {
  background-color: bisque;
  min-height: 50px;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.main-menu {
  display: flex;
}

.main-menu-item {
  list-style: none;
  margin-left: 10px;
}

.main-menu a {
  color: black;
  text-decoration: none;
}

.banner {
  min-height: 400px;
  background-image: url(./banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  color: white;
  font-size: 44px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 25px;
  border-radius: 10px;
}

.featured-products {
  margin-top: 40px;
}

.featured-products h1 {
  text-align: center;
  font-size: 32px;
}

.products-gallery {
  margin-top: 20px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-row {
  display: flex;
  margin-bottom: 30px;
}

.product {
  width: 250px;
  margin: 0px 10px;
  padding-bottom: 15px;
  border: 1px solid bisque;
  background-color: rgba(253, 237, 216, 0.943);
  border-radius: 5px;
}

.product img {
  width: 100%;
  border-radius: 5px;
}

.product-details {
  font-size: 14px;
  text-align: center;
}

.product-details p {
  margin: 10px 0px;
}

.product-details button {
  border: none;
  background-color: brown;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 10px;
}

footer {
  background-color: rgb(67, 51, 30);
  color: white;
  text-align: center;
  padding: 10px 0px;
}

.mobile-menu {
  list-style: none;
  display: none;
}

/* media queries for mobile and tablet */

@media screen and (max-width: 1023px) {
  .main-menu-item {
    display: none;
  }

  .mobile-menu {
    list-style: none;
    display: block;
  }
}
